@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DegularDisplay';
  src: url('./assets/fonts/DegularDisplay-Thin.woff2') format('woff2');
  font-weight: 100; /* Thin */
}

@font-face {
  font-family: 'DegularDisplay';
  src: url('./assets/fonts/DegularDisplay-Light.woff2') format('woff2');
  font-weight: 300; /* Light */
}

@font-face {
  font-family: 'DegularDisplay';
  src: url('./assets/fonts/DegularDisplay.woff2') format('woff2');
  font-weight: 400; /* Regular/Normal */
}

@font-face {
  font-family: 'DegularDisplay';
  src: url('./assets/fonts/DegularDisplay-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'DegularDisplay';
  src: url('./assets/fonts/DegularDisplay-Semibold.woff2') format('woff2');
  font-weight: 600; /* Semibold */
}

@font-face {
  font-family: 'DegularDisplay';
  src: url('./assets/fonts/DegularDisplay-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
}

@layer base {
  :root {
    --cell-size: 40px;
    --cell-radius: 8px;
  }
}

/* Force the calendar grid to spread out */
.rdp-month_grid {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.rdp-weekdays, .rdp-week {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  justify-items: center !important;
  width: 100% !important;
}

/* Ensure the cells don't shrink */
.rdp-day {
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}